<div class="medium container">
	<svg width="72" height="72" viewbox="-4 -4 16 16" style="float: right; margin: 0.5rem;">
		<circle cx=4 cy=4 r=8 fill=black />
		<path d="M0 0v7h7v-3.59l-1 1v1.59h-5v-5h3.59l1-1h-5.59zm7 0l-3 3-1-1-1 1 2 2 4-4-1-1z" transform="translate(0.5,0.5)" fill=white />
	</svg>
	<h1>
		Cohort Settings
	</h1>

	<%= form_for(@cohort) do |form| %>
		<%= render form %>
		<div class="actions">
			<%= form.submit %>
			<%= link_to 'Cancel', @cohort %>
		</div>
	<% end %>

</div>
