<div style="overflow: hidden;">
  <div style="width: 15%; float: left;"><%= render answer.evaluations.last %></div>
  <div style="width: 75%; margin-left: 20%;">
    <h6><%= answer.response.student.first_name %> answered:</h6>
    <% if answer.question_option %>
    <ul style="list-style-type: circle; margin-top: 0;">
      <li><strong><%= answer.question_option.label %></strong></li>
    </ul>
    <% end %>
    <div class="markdown" style="border-left: solid #EEEEEE 0.25rem; padding-left: 0.75rem;"><%= answer.answer_html %></div>
  </div>
</div>
