<div class="small container">
	<h1>LOGIN</h1>

	<%= form_for(@authentication) do |form| %>
		<%= render form %>
		<div class="actions" style="text-align:center">
			<%= form.submit 'Login', class: 'big primary' %>
		</div>
	<% end %>

</div>
