<p id="notice"><%= notice %></p>

<div class="large container">
	<% if current_user.employee %>
		<% if current_user.employee.cohorts %>
			<h3>COHORTS</h3>
			<ul>
				<% current_user.employee.cohorts.each do |cohort| %>
					<li><%= link_to cohort.name, cohort %></li>
				<% end %>
			</ul>
		<% end %>
	<% end %>
	<% if current_user.student %>
		<h2>AGENDA</h2>
		<h3>STUDENT TOOLS</h3>
	<% end %>
</div>
