<p id="notice"><%= notice %></p>

<%= render current_user.cohort %>

<div class="large container">
	<%= image_tag gravatar_url(current_user.email, 384), style: 'border: solid #EEEEEE 1px; float: right;' %>

	<h3>COHORTS</h3>
	<ul>
		<% current_user.cohorts.each do |cohort| %>
			<li><%= link_to cohort.name, cohort %></li>
		<% end %>
	</ul>

</div>
