@import 'style_guide/colors';

.survey_quizzes {
  list-style-type: upper-roman;
  padding: 0;
}
.survey_quiz {
  display: block;
  border: solid $color2 1px;
  display: inline-block;
  width: 32%;
  height: 200px;
  text-align: center;
  svg {
    width: 100%;
    height: 120px;
  }
}
