<div class="large container">
  <h1>New Questionnaire</h1>

  <%= form_for(@survey_questionnaire) do |form| %>
    <%= render form %>
    <div class="actions">
      <%= form.submit %>
      <%= link_to 'Cancel', survey_questionnaires_path %>
    </div>
  <% end %>

</div>
