<a href="#" class="button">Link Button</a>
<button>Button Tag</button>
<input type="button" value="Button Input">
<input type="submit" value="Submit Input">
<input type="reset" value="Reset Input">
<br />
<button class="primary">Primary Button</button>
<button class="secondary">Secondary Button</button>
<button class="dangerous">Dangerous Button</button>
