<div class="color1 color-swatch">1</div>
<div class="color2 color-swatch">2</div>
<div class="color3 color-swatch">3</div>
<div class="color4 color-swatch">4</div>
<div class="color5 color-swatch">5</div>
<div class="color6 color-swatch">6</div>
