<div class="field">
	<label>Input</label>
	<input type="text" value="Test Input">
</div>
<div class="field">
	<label>Password</label>
	<input type="password" value="Test Input">
</div>
<div class="field">
	<textarea>Textarea content</textarea>
</div>
<h4>Select a Color</h4>
<div class="field">
	<input type="radio" name="radio1" id="radio_1-1"><label for="radio_1-1">Red</label>
</div>
<div class="field">
	<input type="radio" name="radio1" id="radio_1-2"><label for="radio_1-2">Green</label>
</div>
<div class="field">
	<input type="radio" name="radio1" id="radio_1-3"><label for="radio_1-3">Blue</label>
</div>
<h4>Select some animals</h4>
<div class="field">
	<input type="checkbox" name="checkbox1" id="checkbox1-1"><label for="checkbox1-1">Lions</label>
</div>
<div class="field">
	<input type="checkbox" name="checkbox1" id="checkbox1-2"><label for="checkbox1-2">Tigers</label>
</div>
<div class="field">
	<input type="checkbox" name="checkbox1" id="checkbox1-3"><label for="checkbox1-3">Bears</label>
</div>
