<h1>Top Header</h1>
<p>Paragraph, Lorem ipsum dolor sit amet, <em>Emphasized</em> consectetur adipiscing elit. Sed tristique semper massa vitae maximus. <strong>Strong</strong> Morbi sagittis, <a href="#">Hyperlink</a> orci non efficitur suscipit, augue ligula lobortis lorem, at luctus velit sapien at lectus. Donec bibendum fermentum rutrum. Nam ut risus ultricies neque molestie rutrum. Donec sit amet sapien sollicitudin, fermentum orci pellentesque, interdum turpis. Nunc purus nulla, posuere et nisl eu, scelerisque cursus nulla. Donec interdum, sem ut tristique faucibus, arcu massa fringilla est, in cursus mauris neque non nulla. Morbi pharetra ante condimentum, cursus metus eu, feugiat lectus.</p>
<ol>
	<li>Ordered List 1</li>
	<li>Ordered List 2</li>
	<li>Ordered List 3</li>
	<li>Ordered List 4</li>
</ol>
<h2>Secondary Header</h2>
<p>Praesent gravida fermentum vulputate. Vestibulum rhoncus semper rutrum. Sed quis lorem a mauris bibendum scelerisque. Mauris ligula est, ornare ut imperdiet id, tincidunt sed risus. Donec molestie ut mauris et tincidunt. Aliquam maximus leo et felis porta pretium. Aliquam congue, libero vitae convallis gravida, neque lectus interdum justo, non feugiat leo dui quis nisl.</p>
<blockquote>
	Blockquote, Donec bibendum porta sagittis. Mauris nisi eros, placerat et iaculis et, imperdiet nec libero. Proin id erat nec mauris imperdiet semper in vitae nisl. Morbi eu finibus augue. Sed fermentum erat libero, eu vehicula lectus lobortis et. Pellentesque vehicula ac metus sed sagittis. Etiam in nunc ornare, tincidunt tellus non, semper massa.</blockquote>
<pre class="ruby">
class ApplicationController
  def current_user
    @current_user ||= User.find(session[:uid])
  end
end
</pre>

<ul>
	<li>Unordered List 1</li>
	<li>Unordered List 2</li>
	<li>Unordered List 3</li>
	<li>Unordered List 4</li>
</ul>

<p>Praesent gravida fermentum vulputate. Vestibulum rhoncus semper rutrum. Sed quis lorem a mauris bibendum scelerisque. Mauris ligula est, ornare ut imperdiet id, tincidunt sed risus. Donec molestie ut mauris et tincidunt. Aliquam maximus leo et felis porta pretium. Aliquam congue, libero vitae convallis gravida, neque lectus interdum justo, non feugiat leo dui quis nisl.</p>
