/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import 'style_guide/colors';

* { box-sizing: border-box; }

html, body { height: 100%; margin: 0; padding: 0; }
body {
  line-height: 1.5em;
  font-family: 'Circular', 'Helvetica Neue', 'Helvetica', 'Verdana', sans-serif;
  color: #555555;
  background-color: #FFFFFF;
}

/* ------------------
        HEADERS
   ------------------ */

h1, h2, h3, h4, h5, h6 { margin: 0; color: #000000; }
h1, h2, h3 {
  font-family: 'PF DIN Compressed Pro';
  text-transform: uppercase;
  line-height: 4rem;
  a { text-decoration: none; }
  a.white { color: white; }
}
h4, h5, h6 {
  font-size: 1.1rem;
  line-height: 2rem;
}
h1 { font-size: 5rem; line-height: 6rem; }
article h1 { font-size: 4rem; line-height: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { text-decoration: underline; }
h5 { }
h6 { color: #999999; }

/* ------------------
       TYPOGRAPHY
   ------------------ */

p { margin-top: 0; }
a { color: #4078c0; }

pre, code {
  background-color: #FAFAFA;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  padding: 0 0.5rem;
  border: solid #EEEEEE 1px;
}

blockquote {
  border-left: solid #EEEEEE 0.5em;
  padding-left: 1em;
}

hr {
  border-style: solid;
  border-color: #EEEEEE;
}

/* ------------------
         FORMS
   ------------------ */

input[type=text], input[type=password], input[type=email], input[type=number], textarea {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  border: solid #999999 1px;
  width: 100%;
  width: calc(100% - 3pt);
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  &[disabled] {
    color: rgb(150, 150, 150);
    border-color: rgb(240, 240, 240);
  }
}

textarea { min-height: 100pt; font-weight: 300; font-family: 'Roboto Mono', monospace; }
select { font-family: inherit; font-size: 1rem; }
progress { width: 100%; }

.field:first-child {
    margin-top: 1rem;
}

#error_explanation {
  border: solid $color1 2px;
  a[href] { color: $color1; text-decoration: none; }
}

.field {
  margin-top: 1rem;
  overflow: hidden;
  line-height: 2rem;
  label:first-child {
    display: inline-block;
    min-width: 120pt;
  }
  label ~ input {
    width: calc(100% - 130pt);
  }
  input[type=radio], input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 1pt;
  }
  input ~ label {
    width: auto;
    padding: 0pt 4pt;
  }
  .field_with_errors {
    color: $color1;
    display: inline;
  }
  .field_with_errors:first-child {
    margin-left: -4pt;
    padding-left: 4pt;
  }
  .field_with_errors ~ .field_with_errors {
    width: calc(100% - 160pt);
  }
}

a:link.button, a:visited.button, .button, button, input[type=submit], input[type=reset], input[type=button] {
  background-color: #FFFFFF;
  border: solid #EEEEEE 1px;
  border-bottom: solid black 2px;
  border-radius: 2pt;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  min-height: 2rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-decoration: none;
  &:hover {
    &:before {
      display: block;
      position: absolute;
      top: 0; left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.15);
    }
  }
  &.primary {
    border-radius: 0;
    background-color: $color1;
    color: #FFFFFF; font-weight: 600;
    border-color: darken($color1, 15%);
  }
  &.secondary {
    background-color: #EEEEEE;
  }
  &.big {
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
  }
  &.small {
    font-size: 0.75rem;
    padding: 0.125rem 1rem;
    margin: 0.25rem 0.5rem;;
  }
}

/* ------------------
       CONTAINERS
   ------------------ */

.container {
  margin: 0 auto;
  &.small { max-width: 400pt; }
  &.medium { max-width: 600pt; }
  &.large { max-width: 1000pt; }
  > * { margin-left: 0.5rem; margin-right: 0.5rem; }
}

#notice {
  background-color: #333333;
  border-bottom: #DDDDDD;
  line-height: 2rem;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  color: $color7;
  font-weight: 100;
}
#notice:empty { display: none; }

table {
  width: 100%;
  margin-bottom: 1rem;
  thead {
    background-color: #EAEAEA;
  }
  tbody {
    tr {
      background-color: #F5F5F5;
    }
    tr:nth-child(2n) {
      background-color: #FFFFFF;
    }
  }
}

/* ------------------
       NAVIGATION
   ------------------ */

nav {
  display: table;
  margin: 2rem 0;
  a { line-height: 0.9rem; text-decoration: none; color: #000000; }
  a:hover {
    color: red;
    text-decoration: underline;
    svg *[fill="black"] { fill: #FA4542; }
  }
  ul { margin: 0; padding: 0; display: table-row; }
  ul li { width: 10%; display: table-cell; text-align: center; }
}

/* ------------------
       MARKDOWN
 -------------------- */

 table.highlighttable {
   pre { margin: 0; }
   .linenos { width: 3em; text-align: right; }
}

.tab-content {
  border: solid #EEEEEE 1px; padding: 1rem; margin-top: -0.5rem;
}

img { max-width: 100%; }
svg {
  text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  * { transition: all 0.25s; }
}

header {
  background-color: #1A1A1A;
  border-bottom: solid #1F1F1F 5px;
  height: 50px;
  line-height: 3rem;
  padding: 0.5rem;
  overflow: hidden;
  &, a { color: #FFFFFF; text-decoration: none; }
}
