// Place all the styles related to the Cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#student__cohort_avatar {
  position: relative;
  float: right;
}
#student__cohort_actions {
  position: absolute;
  left: 1pt; right: 1pt; bottom: 5pt;
}
#student__cohort_avatar #student__cohort_actions .button_to {
  display: none;
}
#student__cohort_avatar:hover #student__cohort_actions .button_to {   
  display: block;
}

#cohort_students {
  padding-bottom: 2rem;
  float: left;
  width: 200px;
  a[href] { text-decoration: none; }
  .student {
    text-decoration: none !important;
    padding-left: 3pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .student.selected {
    background-color: #EEEEEE;
    color: #AAAAAA;
  }
}
#students_content, #groups_ui {
  float: left;
  width: calc(100% - 250px);
}
#groups_ui ul { list-style-type: none; }
#groups_ui li {
  float: left;
  width: 209px;
  height: 209px;
  border: solid #CCCCCC 1px;
  margin-right: -1px;
  margin-bottom: -1px;
  &.hover {
    background-color: #EEEEEE;
    label {
      color: #EEEEEE;
    }
  }
  &.active {
    background-color: #CCCCCC;
    label { color: #000000; }
  }
  label {
    color: #FFFFFF;
    display: block;
    line-height: 180px;
    font-size: 80px;
    text-align: center;
    > div {
      line-height: 26px;
      font-size: 20px;
      background-color: #EEEEEE;
      color: #666666;
    }
  }
}

@media (max-width: 767px) {
  #cohort_students {
    position: relative;
    left: -205px;
    margin-right: -210px;
  }
  #students_content, #groups_ui { width: 100%; }
  #students_content nav { margin-left: -0.5rem; margin-right: -0.5rem; }
}

@media (max-width: 1000px) {
  .employee__title {
    display: none;
  }
  .employee__name .last {
    display: none;
  }
}

.cohort__banner {
  background-image: image-url('cohorts/default-background.jpg');
  background-size: cover;
  background-position: 0 60%;
  background-repeat: no-repeat;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
  overflow: auto;
  color: white;
  padding: 1rem;
  box-shadow: inset 0 -10px 100px rgba(0,0,0,0.5);
  font-weight: 600;
  font-size: 1.1em;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
