// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employee {
  overflow: hidden;
  display: inline-block;
  margin: 0.5rem;
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.5rem;
  .employee__gravatar img { border-radius: 2pt; }
  .employee__name { font-weight: 600; white-space: nowrap; overflow: hidden; }
}
